<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ru.runa.gpd.handlers">
      <handler
            cellEditorProvider="ru.runa.gpd.handler.action.ConfigBasedProvider"
            className="ru.runa.bp.AlfSetContent"
            displayName="Alfresco: upload file data"
            enabled="true"
            type="actionHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.handler.action.ConfigBasedProvider"
            className="ru.runa.bp.demo.ApproveMyDoc"
            displayName="alfdemo: approve document"
            enabled="true"
            type="actionHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.handler.action.ConfigBasedProvider"
            className="ru.runa.bp.demo.CreateMyDoc"
            displayName="alfdemo: create document"
            enabled="true"
            type="actionHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.handler.action.ConfigBasedProvider"
            className="ru.runa.bp.demo.RejectMyDoc"
            displayName="alfdemo: reject document"
            enabled="true"
            type="actionHandler">
      </handler>
   </extension>
   <extension
         point="ru.runa.gpd.form.ftl.tags">
      <tag
            id="GetMyDocStatus"
            name="Show status of document">
      </tag>
   </extension>

</plugin>
