<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ru.runa.jbpm.ui"
   name="Ui Plug-in"
   version="1.0.0"
   provider-name="Runa"
   class="ru.runa.jbpm.ui.UiPlugin">

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="ru.runa.bpm.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="tk.eclipse.plugin.htmleditor"/>
      <import plugin="tk.eclipse.plugin.wysiwyg"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.expressions"/>
      <import plugin="org.eclipse.ui.views.log"/>
   </requires>

   <extension
         id="bp editor"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.runa.jbpm.ui.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ru.runa.jbpm.ui.actionSet"
            label="%label.menu"
            visible="true">
         <menu
               id="file"
               label="%label.menu.file"
               >
            <separator name="common"/>
            <groupMarker name="group"/>
            <separator name="saves"/>
            <groupMarker name="group"/>
            <separator name="export"/>
            <groupMarker name="group"/>
            <separator name="exit"/>
         </menu>
         <menu
               id="newFile"
               label="%label.menu.newFile"
               path="file/common">
            <separator name="common"/>
            <separator name="additions"/>
         </menu>
         
         <action
               class="ru.runa.jbpm.ui.actions.NewProcessAction"
               definitionId="ru.runa.jbpm.ui.commands.new"
               icon="icons/process16.gif"
               id="ru.runa.jbpm.ui.newProcess"
               label="%label.menu.newProcess"
               menubarPath="file/newFile/common"
               style="push"
               toolbarPath="normal/processes"
               tooltip="%tooltip.menu.newProcess"/>
         <action
               class="ru.runa.jbpm.ui.actions.NewProjectAction"
               icon="icons/new_project16x16.gif"
               id="ru.runa.jbpm.ui.newProject"
               label="%label.menu.newProject"
               menubarPath="file/newFile/common"
               style="push"
               toolbarPath="normal/processes"
               tooltip="%tooltip.menu.newProject"/>
         <action
               class="ru.runa.jbpm.ui.actions.DeleteAction"
               definitionId="ru.runa.jbpm.ui.commands.delete"
               icon="icons/delete_edit.gif"
               id="ru.runa.jbpm.ui.delete"
               label="%label.menu.delete"
               menubarPath="file/saves"
               style="push"
               toolbarPath="normal/common"
               tooltip="%tooltip.menu.delete"/>
         <action
               class="ru.runa.jbpm.ui.actions.SaveAll"
               definitionId="ru.runa.jbpm.ui.commands.saveall"
               icon="icons/saveall_edit.gif"
               id="ru.runa.jbpm.ui.saveAll"
               label="%label.menu.saveAll"
               menubarPath="file/saves"
               style="push"
               toolbarPath="normal/save"
               tooltip="%tooltip.menu.saveAll"/>
         <action
               definitionId="ru.runa.jbpm.ui.commands.save"
               disabledIcon="icons/save_edit_d.gif"
               icon="icons/save_edit.gif"
               id="ru.runa.jbpm.ui.save"
               label="%label.menu.save"
               menubarPath="file/saves"
               retarget="true"
               style="push"
               toolbarPath="normal/save"
               tooltip="%tooltip.menu.save">
         </action>
         <action
               class="ru.runa.jbpm.ui.actions.ExportAction"
               icon="icons/export_wiz.gif"
               id="ru.runa.jbpm.ui.export"
               label="%label.menu.export"
               menubarPath="file/export"
               style="push"
               toolbarPath="normal/save"
               tooltip="%tooltip.menu.export"/>
         <action
               class="ru.runa.jbpm.ui.actions.ImportAction"
               icon="icons/import_wiz.gif"
               id="ru.runa.jbpm.ui.import"
               label="%label.menu.import"
               menubarPath="file/export"
               style="push"
               toolbarPath="normal/save"/>
         <action
               class="ru.runa.jbpm.ui.actions.ExitAction"
               id="ru.runa.jbpm.ui.exit"
               label="%label.menu.exit"
               menubarPath="file/exit"
               style="push"/>
         <action
               class="ru.runa.jbpm.ui.actions.EnableAntialiasingAction"
               id="enableAntialiasing"
               label="%label.menu.properties.antialiasing"
               menubarPath="view/additions"
               style="toggle">
         </action>
         <menu
               id="view"
               label="%label.menu.view"
               path="file">
            <separator
                  name="additions">
            </separator>
         </menu>
         <menu
               id="properties"
               label="%label.menu.properties"
               path="view">
            <separator name="additions"/>
         </menu>
         <action
               class="ru.runa.jbpm.ui.actions.ShowActionsAction"
               id="enableActionsInGraph"
               label="%label.menu.properties.enableActionsInGraph"
               menubarPath="view/additions"
               style="toggle"/>
         <menu
               id="window"
               label="%label.menu.window"
               path="properties">
            <separator name="additions"/>
         </menu>
         <action
               class="ru.runa.jbpm.ui.actions.OpenProperties"
               icon="icons/prop_ps.gif"
               id="openProperties"
               label="%label.menu.view.properties"
               menubarPath="window/additions"
               style="push"/>
         <action
               class="ru.runa.jbpm.ui.actions.OpenPreferencesAction"
               id="preferences"
               label="%label.menu.preferences"
               menubarPath="properties/additions"
               style="push"/>
         <action
               class="ru.runa.jbpm.ui.actions.OpenOutline"
               icon="icons/outline_co.gif"
               id="openOutline"
               label="%label.menu.view.outline"
               menubarPath="window/additions"
               style="push"/>
         <action
               class="ru.runa.jbpm.ui.actions.OpenExplorer"
               icon="icons/filenav_nav.gif"
               id="openExplorer"
               label="%label.menu.view.explorer"
               menubarPath="window/additions"
               style="push"/>
         <action
               class="ru.runa.jbpm.ui.actions.OpenValidationErrorsView"
               icon="icons/validation_error.gif"
               id="openValidationErrorsView"
               label="%label.menu.view.validationErrors"
               menubarPath="window/additions"
               style="push">
         </action>
         <action
               class="ru.runa.jbpm.ui.actions.OpenErrorLogView"
               icon="icons/error_log.gif"
               id="openLogView"
               label="%label.menu.view.errorLog"
               menubarPath="window/additions"
               style="push">
         </action>
         <menu
               id="help"
               label="%label.menu.help"
               path="window">
            <separator name="additions"/>
         </menu>
         <action
               class="ru.runa.jbpm.ui.actions.HelpAboutAction"
               id="helpAbout"
               label="%label.menu.helpAbout"
               menubarPath="help/additions"
               style="push"/>
         <action
               class="ru.runa.jbpm.ui.actions.ShowGridAction"
               id="enableGrid"
               label="%label.menu.properties.enableGrid"
               menubarPath="view/additions"
               style="toggle"/>
         <action
               class="ru.runa.jbpm.ui.actions.MappingAction"
               id="ru.runa.jbpm.ui.mappingAction"
               label="%label.menu.mapping"
               menubarPath="properties/additions"
               style="push"/>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="ru.runa.jbpm.ui.search"
            name="search activity"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*search.*"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*run.*"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*debug.*"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*team.*"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*compare.*"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*replace.*"/>
      <activityPatternBinding
            activityId="ru.runa.jbpm.ui.search"
            pattern="org.eclipse.*/.*goto.*"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="ru.runa.bpm.ui.perspective">
         <actionSet id="ru.runa.jbpm.ui.actionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ru.runa.jbpm.ui.commands.new"
            contextId="ru.runa.jbpm.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+N">
      </key>
      <key
            commandId="ru.runa.jbpm.ui.commands.save"
            contextId="ru.runa.jbpm.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
      <key
            commandId="ru.runa.jbpm.ui.commands.saveall"
            contextId="ru.runa.jbpm.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+S">
      </key>
      <key
            commandId="ru.runa.jbpm.ui.commands.delete"
            contextId="ru.runa.jbpm.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Delete">
      </key>
      <scheme
            id="ru.runa.jbpm.ui.scheme"
            name="runa"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ru.runa.jbpm.ui.commands.new"
            name="ru.runa.jbpm.ui.commands.new">
      </command>
      <command
            id="ru.runa.jbpm.ui.commands.save"
            name="ru.runa.jbpm.ui.commands.save">
      </command>
      <command
            id="ru.runa.jbpm.ui.commands.saveall"
            name="ru.runa.jbpm.ui.commands.saveall">
      </command>
      <command
            id="ru.runa.jbpm.ui.commands.delete"
            name="ru.runa.jbpm.ui.commands.delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ru.runa.jbpm.ui.context"
            name="runa"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>


</plugin>
