.runaex.fileupload {

}

.runaex.clearfileupload {

}

.downloadfile {
    margin-left: 15px;
}

.deletefile {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

input.deletefile {
    margin-left: 15px;
}

label.deletefile {
    display: inline;
    margin-left: 5px;
}

.inline-controls .control-group{
    display: inline-block;
}