<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ru.runa.gpd.form.ftl"
   name="HTML Editor Plug-In"
   version="4.0"
   provider-name="Runa"
   class="ru.runa.gpd.formeditor.WYSIWYGPlugin">
   <runtime>
      <library name="wysiwyg.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
      <library name="lib/javax.servlet.jar">
         <export name="*"/>
      </library>
      <library name="lib/org.mortbay.jetty.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-fileupload.jar">
         <export name="*"/>
      </library>
      <library name="lib/freemarker.jar">
         <export name="*"/>
      </library>
      <library name="lib/nekohtml.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-lang-2.5.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/xercesImpl.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
      <import plugin="tk.eclipse.plugin.htmleditor" export="false"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="ru.runa.gpd"/>
   </requires>
   <extension-point id="tags" name="Freemarker methods" schema="metadata/tags.exsd"/>
   <extension-point id="formats" name="Freemarker output formats for variables" schema="metadata/formats.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.runa.gpd.formeditor.wysiwyg.WYSIWYGHTMLEditor"
            extensions="html"
            icon="metadata/html.png"
            id="tk.eclipse.plugin.wysiwyg.WYSIWYGHTMLEditor"
            name="WYSIWYG Editor">
      </editor>
   </extension>
   
   <extension
         point="ru.runa.gpd.formtype">
      <element
            contributor="ru.runa.gpd.formeditor.FtlFormType"
            name="%FormType.ftl"
            type="ftl"/>
      <element
            contributor="ru.runa.gpd.formeditor.HtmlFormType"
            name="%FormType.html"
            type="html"/>
   </extension>
   <extension
         point="ru.runa.gpd.form.ftl.tags">
      <tag
            enabled="true"
            height="40"
            id="ChooseActor"
            image="metadata/icons/ChooseActor.png"
            name="%Method.ChooseActor"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.ListAll"
                  value="all">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            id="ChooseGroup"
            name="%Method.ChooseGroup">
         <param
               name="%Param.GroupVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.SelectNameInList"
                  value="selectName">
            </paramValue>
            <paramValue
                  name="%Presentation.SelectIdInList"
                  value="selectId">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="InputDateTime"
            image="metadata/icons/InputDateTime.png"
            name="%Method.InputDateTime"
            width="180">
         <param
               name="%Param.DateVariable"
               type="combo"
               values="date"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Date.AsDate"
                  value="date">
            </paramValue>
            <paramValue
                  name="%Format.Date.AsDatetime"
                  value="datetime">
            </paramValue>
            <paramValue
                  name="%Format.Date.AsTime"
                  value="time">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="GroupMembers"
            image="metadata/icons/ChooseActor.png"
            name="%Method.GroupMembers"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.GroupVariable"
               type="richcombo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.ListAll"
                  value="all">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="DisplayVariable"
            image="metadata/icons/VariableValueDisplay.png"
            name="%Method.DisplayVariable"
            width="250">
         <param
               name="%Param.Variable"
               type="combo"
               values="any"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="DisplayActor"
            image="metadata/icons/DisplayFullActorName.png"
            name="%Method.DisplayActor"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Actor.Fullname"
                  value="fullname">
            </paramValue>
            <paramValue
                  name="%Format.Actor.Shortname"
                  value="shortname">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="ViewFile"
            image="metadata/icons/VariableValueDisplay.png"
            name="%Method.ViewFile"
            width="250">
         <param
               name="%Param.FileVariable"
               type="combo"
               values="file"
               variableAccess="READ">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.File.Content"
                  value="content">
            </paramValue>
            <paramValue
                  name="%Format.File.Length"
                  value="contentlength">
            </paramValue>
            <paramValue
                  name="%Format.File.Type"
                  value="contenttype">
            </paramValue>
            <paramValue
                  name="%Format.File.DrawImage"
                  value="drawimage">
            </paramValue>
            <paramValue
                  name="%Presentation.ObjectRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="DownloadFile"
            image="metadata/icons/VariableValueDisplay.png"
            name="%Method.DownloadFile"
            width="250">
         <param
               name="%Param.FileVariable"
               type="combo"
               values="file"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="DisplayExecutor"
            name="%Method.DisplayExecutor">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            height="45"
            id="AjaxGroupMembers"
            image="metadata/icons/AjaxGroupMembers.gif"
            name="%Method.AjaxGroupMembers"
            width="680">
         <param
               name="%Param.GroupVariable"
               type="combo"
               values="long"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="RelationResult"
            image="metadata/icons/ChooseActor.png"
            name="%Method.RelationResult"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.RelationName"
               type="richcombo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="%Param.RelationParameter"
               type="varcombo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="MultipleSelect"
            name="%Method.MultipleSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputData"
               type="combo"
               values="list"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="ViewList"
            name="%Method.ViewList">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="READ">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.UL"
                  value="ul">
            </paramValue>
            <paramValue
                  name="%Param.Value.OL"
                  value="ol">
            </paramValue>
            <paramValue
                  name="%Param.Value.Raw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            id="EditStringList"
            name="%Method.EditStringList">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            enabled="true"
            id="DisplayLinkedListsInTable"
            name="%Method.DisplayLinkedListsInTable">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="DisplayFormattedText"
            name="%Method.DisplayFormattedText">
         <param
               name="%Param.String"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="ActorsMultiSelect"
            name="%Method.ActorsMultiSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
         </param>
         <param
               name="%Param.OutputFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.code"
                  value="code">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
            <paramValue
                  name="%Param.Value.email"
                  value="email">
            </paramValue>
         </param>
      </tag>
   </extension>
   <extension
         point="ru.runa.gpd.form.ftl.formats">
      <type
            name="string">
         <format
               name="%Format.String.Singleline"
               value="-">
         </format>
         <format
               name="%Format.String.Multiline"
               value="multiline">
         </format>
      </type>
      <type
            name="double">
         <format
               name="%Format.Default"
               value="-">
         </format>
         <format
               name="%Format.Double.Float"
               value="floating">
         </format>
         <format
               name="%Format.Double.Exp"
               value="exponent">
         </format>
      </type>
      <type
            name="boolean">
         <format
               name="%Format.Boolean.tf"
               value="string">
         </format>
         <format
               name="%Format.Boolean.zo"
               value="zo">
         </format>
         <format
               name="%Format.Boolean.pm"
               value="pm">
         </format>
      </type>
      <type
            name="date">
         <format
               name="%Format.Date.AsDate"
               value="date">
         </format>
         <format
               name="%Format.Date.AsDatetime"
               value="datetime">
         </format>
         <format
               name="%Format.Date.AsTime"
               value="time">
         </format>
      </type>
      <type
            name="long">
         <format
               name="%Format.Default"
               value="-">
         </format>
      </type>
      <type
            name="time">
         <format
               name="%Format.Default"
               value="time">
         </format>
      </type>
      <type
            name="file">
         <format
               name="%Format.Default"
               value="-">
         </format>
      </type>
   </extension>
</plugin>
