#ignore target dir
target*/
projects/wfe/wfe-ear/${deployment.dir}/runawfe.ear

.DS_Store

#*.orig
#
# Eclipse project files
#
.classpath
.project
.settings*/
.springBeans
.metadata
bin*/
war*/
projects/gpd/runtime-gpd.product/

#
# IntelliJ IDEA project files
#
.idea*/
*.ipr
*.iml
*.iws
*.ids
classes*/

#ignore NetBeans project files
nb-configuration.xml
profiles.xml
catalog.xml
nbactions.xml

#crucible settings
atlassian-ide-plugin.xml

#ignore some temporary files
*.vpp~*

#ignore thumbnails created by windows
Thumbs.db

#ignore some log files
script/*.log
importStations/*.log

*.backup
#gradle files
build*/
.gradle*/

