Source: runawfe
Section: office
Priority: optional
Maintainer: Konstantinov Aleksey <kana@ptc.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: runawfe-adminkit
Architecture: any
Depends:  runawfe-jboss (>= 4.0.5.GA), openjdk-6-jre
Description: Admin scripts for manage runawfe
 This package contains admin scripts for manage runawfe:
   script-runner.sh to deploy demo user's and process
   ldap-importer.sh to import from LDAP server
   bot-invoker.sh to invoke bots (localy on server or remote botstation)

Package: runawfe-commonlibs
Architecture: any
Depends: runawfe-jboss (>= 4.0.5.GA), openjdk-6-jre
Description: Common libs for runawfe servers
 This package contains common libs, which used by all runawfe servers.

Package: runawfe-server
Architecture: any
Depends:  runawfe-jboss (>= 4.0.5.GA), openjdk-6-jre, runawfe-adminkit, runawfe-commonlibs, patch
Conflicts: runawfe-botstation, runawfe-simulation
Description: Runawfe server
 This package contains libs and configs for runawfe server. 
 By default runawfe server web interface accessible on port %runawfe_web_port.

Package: runawfe-common
Architecture: any
Depends: 
Description: Common elements for runawfe menu support
 This package contains files, needed by runawfe menus items.

Package: runawfe-client
Architecture: any
Depends: runawfe-common, runawfe-client-conf
Description: Web link to runawfe server
 This package add web link to runawfe server in main menu.
 By default runawfe server web interface accessible on localhost:%runawfe_web_port

Package: runawfe-botstation
Architecture: any
Depends: openjdk-6-jre, runawfe-jboss (>= 4.0.5.GA), runawfe-common, runawfe-commonlibs, patch, runawfe-adminkit
Conflicts: runawfe-server, runawfe-simulation
Description: Runawfe remote botstation
 This package contains libs and configs for runawfe remote botstation. 
 By default runawfe server accessible on address main_wfe_server.

Package: runawfe-simulation
Architecture: any
Depends: openjdk-6-jre, runawfe-jboss (>= 4.0.5.GA), runawfe-adminkit, patch, runawfe-commonlibs, runawfe-common
Conflicts: runawfe-server, runawfe-botstation
Description: Runawfe simulation server
 This package contains libs and configs for runawfe simulation server.
 Simulation server is used for testing new process before deploying to main runawfe server.

Package: runawfe-doc
Architecture: any
Depends: runawfe-common
Description: Runawfe documentation
 This package contains documentation for all runawfe components.

Package: runawfe-notifier
Architecture: any
Depends: openjdk-6-jre ,runawfe-common, runawfe-client-conf, libswt-gtk-3.5-java, libswt-mozilla-gtk-3.5-jni
Description: Runawfe notifier client
 This package contains runawfe notifier client. It used for automatic check for new tasks.

Package: runawfe-client-conf
Architecture: any
Depends:  
Description: Runawfe notifier client configuration files
 This package contains runawfe notifier and client common configuration files.

Package: runawfe-gpd
Architecture: any
Depends:  openjdk-6-jre, runawfe-common
Description: Admin scripts for manage runawfe
 This package contains admin scripts for manage runawfe:
   script-runner.sh to deploy demo user's and process
   ldap-importer.sh to import from LDAP server
   bot-invoker.sh to invoke bots (localy on server or remote botstation)

