<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="ru.runa.gpd.handlers">
      <handler
            cellEditorProvider="ru.runa.gpd.office.excel.ReadExcelHandlerCellEditorProvider"
            className="ru.runa.wfe.office.excel.handler.ExcelReadHandler"
            label="%ru.runa.wfe.office.excel.handler.ExcelReadHandler"
            enabled="true"
            type="actionHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.office.excel.SaveExcelHandlerCellEditorProvider"
            className="ru.runa.wfe.office.excel.handler.ExcelSaveHandler"
            label="%ru.runa.wfe.office.excel.handler.ExcelSaveHandler"
            enabled="true"
            type="actionHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.office.word.DocxHandlerCellEditorProvider"
            className="ru.runa.wfe.office.doc.DocxHandler"
            label="%ru.runa.wfe.office.doc.DocxHandler"
            enabled="true"
            type="actionHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.office.excel.ReadExcelHandlerCellEditorProvider"
            className="ru.runa.wfe.office.excel.handler.ExcelReadHandler"
            label="%ru.runa.wfe.office.excel.handler.ExcelReadHandler"
            enabled="true"
            type="botHandler">
      </handler>
      <handler
           cellEditorProvider="ru.runa.gpd.office.excel.SaveExcelHandlerCellEditorProvider"
            className="ru.runa.wfe.office.excel.handler.ExcelSaveHandler"
            label="%ru.runa.wfe.office.excel.handler.ExcelSaveHandler"
            enabled="true"
            type="botHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.office.word.DocxHandlerCellEditorProvider"
            className="ru.runa.wfe.office.doc.DocxHandler"
            label="%ru.runa.wfe.office.doc.DocxHandler"
            enabled="true"
            type="botHandler">
      </handler>
      <handler
            cellEditorProvider="ru.runa.gpd.office.word.MSWordTaskHandlerConfigurator"
            className="ru.runa.wfe.logic.bot.MSWordReportTaskHandler"
            label="%ActionHandler.MSWordHandler"
            enabled="true"
            type="botHandler">
      </handler>
   </extension>

</plugin>
