.inputFileContainer, .dropzone, .progressbar, .inputFileAttach {
	background: white;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}
.inputFileAttach {
	display: block;
	border: 1px solid #b9b9b9;
	cursor: pointer;
	color: black;
	width: 170px;
	font-weight: bold;
}
.dropzone.required .inputFileAttach {
	background: url("images/required.png") top right no-repeat;
}
.inputFileAttach:hover, .dropzone.required .inputFileAttach:hover {
	background: #e9f4ff;
}
.inputFileContainer img {
	margin: 0px 10px 0px 10px;
	vertical-align: middle;
}
.dropzone {
	color: white;
	border: 3px dotted white;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}
.dropzonehover {
	background: #cccccc;
	color: gray;
}
.progressbar {
	border: 1px solid #b9b9b9;
	color: #444;
	position: relative;
	min-width: 300px;
	overflow: hidden;
}
.progressbar .line {
	background-color: #e9f4ff;
	height: 35px;
}
.progressbar .status {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
}
.statusImg {
//	float: right;
//	padding: 10px;
}
.inputFileDelete {
	cursor: pointer;
}

