
api.auth.enabled=true
http.auth.enabled=true

# kerberos login module name depends on java version
#appName=com.sun.security.jgss.krb5.accept
appName=com.sun.security.jgss.accept
moduleClassName=com.sun.security.auth.module.Krb5LoginModule
storeKey=true
useKeyTab=true
keyTab=C:/krb5.keytab
doNotPrompt=true
debug=true

principal=HTTP/wfserver.test.com@TEST.COM
serverPrincipal=HTTP/wfserver.test.com

# for web authentication only
jcifs.http.enableNegotiate=true
sun.security.krb5.debug=true
jcifs.spnego.servicePrincipal=HTTP/wfserver.test.com@TEST.COM
http.auth.preference=Kerberos

