[Desktop Entry]
Encoding=UTF-8
Exec=sh /usr/lib/RunaRTN/run.sh
Icon=/usr/share/pixmaps/RunaWFE-TaskNotifier.gif
Name=Task notifier for RunaWFE
Name[ru]=Оповещатель задач для RunaWFE
Path=/usr/lib/RunaRTN
Terminal=false
Type=Application
ReplaceableCategories
