<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="ru.runa.bpm.ui.delegablePropertyDescriprors">
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.DelegableProvider"
            className="ru.runa.bp.timings.AlfrescoCreateAbsence"
            name="AlfrescoCreateAbsence"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.DelegableProvider"
            className="ru.runa.bp.timings.AlfrescoUpdateSicklistData"
            name="AlfrescoUpdateSicklistData"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.DelegableProvider"
            className="ru.runa.bp.timings.AlfrescoDeleteUnconfirmedAbsence"
            name="AlfrescoDeleteUnconfirmedAbsence"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.DelegableProvider"
            className="ru.runa.bp.timings.AlfrescoCreateShift"
            name="AlfrescoCreateShift"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.DelegableProvider"
            className="ru.runa.bp.timings.AlfrescoCreateAbsenceOrder"
            name="AlfrescoCreateAbsenceOrder"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.DelegableProvider"
            className="ru.runa.bp.timings.AlfAverageShiftTimeCount"
            name="AlfAverageShiftTimeCount"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.org.AlfCheckNeedTwiceConfirmation"
            name="Alf: двойное подтверждение"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfSyncEmployeePresences"
            name="Alf: обновить данные прихода-ухода"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCheckShiftHasNoConflicts"
            name="Alf: проверить график работы на конфликты"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCheckOvertimeHasNoConflicts"
            name="Alf: проверить сверхурочные на конфликты"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCheckConditionsForStimulatingLeave"
            name="Alf: проверить условия предоставления отгула"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.org.AlfLoadJurAgreementData"
            name="Alf: определить данные юридического договора"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.org.AlfLoadDataForOrderGeneration"
            name="Alf: загрузить данные юридического договора"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCheckSicklistWithVacationIntersection"
            name="Alf: найти пересечение больничного с отпуском"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCloseUnknownReason"
            name="Alf: закрыть незапланированное отсутствие"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfLoadAbsenceData"
            name="Alf: загрузить данные отпуска"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateAbsenceInterruption"
            name="Alf: создать преждевременный выход из отпуска"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateShift"
            name="Alf: создать график работы"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateAbsence"
            name="Alf: создать отсутствие"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfConfirmateAbsence"
            name="Alf: подтвердить запись учета времени"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfDeleteUnconfirmedAbsence"
            name="Alf: удалить неподтвержденную запись учета времени"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfUpdateSicklistData"
            name="Alf: обновить данные больничного"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateAbsenceOrder"
            name="Alf: создать приказ"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateOvertime"
            name="Alf: создать сверхурочные"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateMandatoryPresence"
            name="Alf: создать обязательное присутствие"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCancelProcess"
            name="Alf: отменить запись учета времени"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreatePaidVacation"
            name="Alf: создать ежегодный отпуск"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfConfirmateHourVacation"
            name="Alf: подтвердить отпуск на часы"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.bpm.ui.custom.ConfigBasedProvider"
            className="ru.runa.bp.timings.AlfCreateExcuseRequestAndExcuses"
            name="Alf: создать отчет по объяснительным"
            type="actionHandler">
      </delegable>
   </extension>
   <extension
         point="tk.eclipse.plugin.wysiwyg.ftl_tags">
      <tag
            height="40"
            id="EmployeeContractNumbers"
            image="icons/EmployeeContracts.ru.png"
            name="Список договоров сотрудника"
            width="250">
         <param
               name="Договор"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="Дата (от)"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
         <param
               name="Дата (по)"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="ListAllActiveTimings"
            name="Список активных отпусков сотрудника">
         <param
               name="ID процесса отпуска"
               type="combo"
               values="long"
               variableAccess="WRITE">
         </param>
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="Дата выхода из отпуска"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            height="40"
            id="ContractNumbersAjax"
            image="icons/EmployeeContracts.ru.png"
            name="Список договоров сотрудника (Ajax)"
            width="250">
         <param
               name="Договор"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="На дату"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            height="60"
            id="SubordinateWithSubstitutors"
            image="icons/ChooseActorAutoComplete.ru.png"
            name="Сотрудник и подчиненные с замещением"
            width="250">
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="Отношение (опционально)"
               type="text"
               variableAccess="NONE">
         </param>
      </tag>
      <tag
            height="60"
            id="HRSubordinatedActorsList"
            image="icons/ChooseActorAutoComplete.ru.png"
            name="Сотрудник и подчиненные с замещением (для КС)"
            width="250">
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            height="60"
            id="SubordinateWithSubstitutorsForShift"
            image="icons/ChooseActorAutoComplete.ru.png"
            name="Сотрудник и подчиненные с замещением (для сдвига графика)"
            width="250">
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            id="IntersectedVacations"
            name="Список больничных во время ежегодного отпуска">
         <param
               name="Переменная, больничный|отпуск|колвоДней"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="сотрудник"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="CalculateAverageTimeForShift"
            name="Расчет среднего времени рабочих часов в неделю для сдвига графика">
         <param
               name="ID ссылки для пересчета"
               type="text"
               variableAccess="NONE">
         </param>
         <param
               name="Название элемента списка сотрудников"
               type="text"
               variableAccess="NONE">
         </param>
      </tag>
      <tag
            id="LoadShiftThisWeek"
            name="Загрузка данных графика работы на неделю с датой">
         <param
               name="ID ссылки для загрузки"
               type="text"
               variableAccess="NONE">
         </param>
         <param
               name="Название элемента списка сотрудников"
               type="text"
               variableAccess="NONE">
         </param>
         <param
               name="Дата на неделе загружаемого графика"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="AnnualVacationHoursAjax"
            name="Остаток часов по ежегодному отпуску">
         <param
               name="Остаток часов"
               type="combo"
               values="long"
               variableAccess="WRITE">
         </param>
         <param
               name="Ежегодный отпуск процесс id"
               type="combo"
               values="long"
               variableAccess="READ">
         </param>
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="Дата отпуска"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
         <param
               name="Количество часов"
               type="combo"
               values="long"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="InOutsForDateAjax"
            name="Входы-выходы за дату">
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="Дата"
               type="combo"
               values="date"
               variableAccess="READ">
         </param>
         <param
               name="Входы выходы"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            id="AlfVacationPeriodsInfoBlock"
            name="Показать информацию о прошлых отпусках">
         <param
               name="Сотрудник"
               type="varcombo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="Код фирмы"
               type="varcombo"
               values="long"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            height="60"
            id="ActorListByJurAgreement"
            image="icons/ChooseActorAutoComplete.ru.png"
            name="Сотрудник и подчиненные (по всем договорам)"
            width="250">
         <param
               name="Сотрудник"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="Отношение (опционально)"
               type="text"
               variableAccess="NONE">
         </param>
      </tag>
   </extension>
   <extension
         point="tk.eclipse.plugin.wysiwyg.var_tags">
      <tag
            className="ru.runa.wf.web.html.vartag.FirmNameAutoCompletingComboboxVarTag"
            input="true"
            name="Выбор фирмы">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateAutoCompletingComboboxVarTag"
            input="true"
            name="Сотрудник и подчиненные">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateAutoCompletingWithTPSpecificComboboxVarTag"
            input="true"
            name="Сотрудник, подчиненные, подразделение">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateAndComplexConditionGroupMembersAutoCompletingComboboxVarTag"
            input="true"
            name="Сотрудник, подчиненные, подразделение, главбух-специфика">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateCodeAutoCompletingComboboxVarTag"
            input="true"
            name="Подчиненные - код">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateFullNameAutoCompletingComboboxVarTag"
            input="true"
            name="Подчиненные - полные имена">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateWithSubstitutorsComboboxVarTag"
            input="true"
            name="Подчиненные с замещением">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateAutoCompletingWithAllGroupMembersAddedToKSComboboxVarTag"
            input="true"
            name="Сотрудник, подчиненные, подразделение, все сотрудники для инспектора кс">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.SubordinateAutoCompletingWithAllGroupMembersAddedToGivenGroupsComboboxVarTag"
            input="true"
            name="Сотрудник, подчиненные, подразделение, все сотрудники для членов указанных групп">
      </tag>
   </extension>
   <extension
         point="ru.runa.bpm.ui.orgfunctions">
      <orgfunction
            className="ru.runa.wfe.bp.commons.EmployeeOrRequestorFunction"
            name="сотрудник или подавший заявку">
         <parameter
               name="Сотрудник"
               type="string"/>
         <parameter
               name="Подавший заявку"
               type="string"/>
      </orgfunction>
      <orgfunction
            className="ru.runa.wfe.bp.commons.DepartamentChiefFunction"
            name="начальник отдела">
         <parameter
               name="Код отдела"
               type="string"/>
      </orgfunction>
      <orgfunction
            className="ru.runa.bp.org.AlfDepartmentChiefOrgFunction"
            name="начальник отдела (Alfresco)">
         <parameter
               name="Код отдела"
               type="string">
         </parameter>
      </orgfunction>
      <orgfunction
            className="ru.runa.bp.org.AlfChiefOrgFunction"
            name="руководитель (Alfresco)">
         <parameter
               name="Код сотрудника"
               type="string">
         </parameter>
      </orgfunction>
      <orgfunction
            className="ru.runa.bp.org.AlfEmployeeOrRequestorOrgFunction"
            name="сотрудник или подавший заявку (Alfresco)">
         <parameter
               multiple="false"
               name="Сотрудник"
               type="string">
         </parameter>
         <parameter
               multiple="false"
               name="Подавший заявку"
               type="string">
         </parameter>
      </orgfunction>
      <orgfunction
            className="ru.runa.bp.org.AlfDirectorOrgFunction"
            name="директор (Alfresco)">
         <parameter
               multiple="false"
               name="Код сотрудника"
               type="string">
         </parameter>
      </orgfunction>
   </extension>
   <extension
         point="ru.runa.bpm.ui.swimlaneelements">
      <element
            className="ru.runa.bpm.ui.orgfunctions.SwimlaneGeneralElement"
            name="SwimlaneElement.RequesterFunctionLabel"
            treePath="0">
         <param
               name="orgFunctionDefinitionName"
               value="сотрудник или подавший заявку">
         </param>
      </element>
      <element
            className="ru.runa.bpm.ui.orgfunctions.SwimlaneGeneralElement"
            name="SwimlaneElement.DepartamentChiefFunctionLabel"
            treePath="0">
         <param
               name="orgFunctionDefinitionName"
               value="начальник отдела">
         </param>
      </element>
      <element
            className="ru.runa.bpm.ui.orgfunctions.SwimlaneGeneralElement"
            name="SwimlaneElement.AlfRequesterFunctionLabel"
            treePath="0">
         <param
               name="orgFunctionDefinitionName"
               value="сотрудник или подавший заявку (Alfresco)">
         </param>
      </element>
      <element
            className="ru.runa.bpm.ui.orgfunctions.SwimlaneGeneralElement"
            name="SwimlaneElement.AlfDepartamentChiefFunctionLabel"
            treePath="0">
         <param
               name="orgFunctionDefinitionName"
               value="начальник отдела (Alfresco)">
         </param>
      </element>
      <element
            className="ru.runa.bpm.ui.orgfunctions.SwimlaneGeneralElement"
            name="SwimlaneElement.AlfChiefFunctionLabel"
            treePath="0">
         <param
               name="orgFunctionDefinitionName"
               value="руководитель (Alfresco)">
         </param>
      </element>
   </extension>
   <extension
         point="ru.runa.bpm.ui.validators">
      <validator
            applicable="long"
            description="Проверяет наличие неотмененного процесса этого типа по базе и в системе."
            displayName="ID процесса досрочного выхода из отпуска"
            name="validAbsenceInterruptionProcessId">
         <param
               displayName="JNDI источника данных"
               name="dataSource"
               type="string">
         </param>
      </validator>
      <validator
            applicable="string"
            description="Для проверки используется ставка из юридических договоров сотрудника"
            displayName="Проверяет график работы сотрудника"
            name="employeeShift">
         <param
               displayName="дата с сдвиг в прошлое относительно текущей даты"
               name="fromDatePast"
               type="string">
         </param>
         <param
               displayName="дата с сдвиг в будущее относительно текущей даты"
               name="fromDateFuture"
               type="string">
         </param>
         <param
               displayName="дата по сдвиг в прошлое относительно текущей даты"
               name="toDatePast"
               type="string">
         </param>
         <param
               displayName="дата по сдвиг в будущее относительно текущей даты"
               name="toDateFuture"
               type="string">
         </param>
      </validator>
      <validator
            applicable="string"
            description="Проверяет формат переменной, а также период для переноса отпуска"
            displayName="Данные пересечения больничного с отпуском"
            name="IntersectedVacationsDataValidator">
         <param
               displayName="Название переменной датаС"
               name="fromDate"
               type="string">
         </param>
         <param
               displayName="Название переменной датаПо"
               name="toDate"
               type="string">
         </param>
      </validator>
      <validator
            applicable="long"
            description="Проверка существования и названия процесса"
            displayName="Проверка названия процесса "
            name="processExistanceAndNameValidator">
         <param
               displayName="название процесса"
               name="processName"
               type="string">
         </param>
         <param
               displayName="JNDI data source name"
               name="dataSource"
               type="string">
         </param>
      </validator>
      <validator
            description="проверка конфликтов сверхурочных"
            displayName="проверка конфликтов сверхурочных"
            name="overtime">
      </validator>
      <validator
            description="проверка неиспользуемого отпуска"
            displayName="проверка неиспользуемого отпуска"
            name="UnusedVacationStartValidator">
      </validator>
      <validator
            description="проверка завершены ли процессы заданного типа для выбранного сотрудника"
            displayName="проверка завершены ли процессы"
            name="ProcessFinishedValidator">
         <param
               displayName="название процесса"
               name="processName"
               type="string">
         </param>
      </validator>
      <validator
            applicable="date"
            description="проверка интервала отпуска по уходу за ребенком на пересечение с существующим"
            displayName="проверка интервала отпуска по уходу за ребенком"
            name="ChildCareProcessPeriodValidator">
      </validator>
      <validator
            applicable="long"
            description="проверить отсутствие процесса-родителя"
            displayName="проверить отсутствие процесса-родителя"
            name="ProcessStandaloneValidator">
      </validator>
      <validator
            applicable="date"
            description="можно задать дозволенный сдвиг в прошлое и будущее на количество (бизнес) дней относительно текущей даты"
            displayName="диапазон (бизнес) даты относительно текущей"
            name="RelativeToCurrentBusinessDateRangeFieldValidator">
         <param
               displayName="рабочие дни"
               name="рабочие дни"
               type="boolean">
         </param>
         <param
               displayName="сдвиг в прошлое (в днях)"
               name="min"
               type="number">
         </param>
         <param
               displayName="сдвиг в будущее (в днях)"
               name="max"
               type="number">
         </param>
      </validator>
      <validator
            applicable="long"
            description="проверить использование донорской справки по id процесса"
            displayName="проверить использование донорской справки по id процесса"
            name="DonorCertificateNotUsedProcessIdValidator">
      </validator>
      <validator
            description="проверка условий запуска параллельного отпуска по уходу"
            displayName="проверка условий запуска параллельного отпуска по уходу"
            name="parallelChildVacationStartValidator">
      </validator>
      <validator
            description="Наличие времени входа выхода в соответствии с галочками "
            displayName="Наличие времени входа выхода в соответствии с галочками "
            name="InOutTimeValidator">
      </validator>
      <validator
            description="попадает ли дата в период договора"
            displayName="попадает ли дата в период договора"
            name="DateWithinContractValidator">
         <param
               displayName="0 - юр. дог, 1 - упр. дог, 2 - юр. или упр., 3 - юр. и упр."
               name="contracts"
               type="number">
         </param>
      </validator>
      <validator
            description="проверка пересечения интервала данного типа отпуска с существующими отпусками этого типа"
            displayName="пересечение интервала отпуска"
            name="VacationProcessPeriodValidator">
      </validator>
   </extension>

</plugin>
