<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ru.runa.gpd.form.ftl"
   name="HTML Editor Plug-In"
   version="4.0"
   provider-name="Runa"
   class="ru.runa.gpd.formeditor.WYSIWYGPlugin">
   <runtime>
      <library name="wysiwyg.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
      <library name="lib/javax.servlet.jar">
         <export name="*"/>
      </library>
      <library name="lib/org.mortbay.jetty.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-fileupload.jar">
         <export name="*"/>
      </library>
      <library name="lib/freemarker.jar">
         <export name="*"/>
      </library>
      <library name="lib/nekohtml.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-lang-2.5.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/xercesImpl.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="ru.runa.gpd"/>
      <import plugin="tk.eclipse.plugin.htmleditor"/>
   </requires>
   <extension-point id="tags" name="Freemarker methods" schema="metadata/tags.exsd"/>
   <extension-point id="formats" name="Freemarker output formats for variables" schema="metadata/formats.exsd"/>
   <extension-point id="parameter_type" name="Ftl component parameter type" schema="metadata/parameter_type.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.runa.gpd.formeditor.wysiwyg.WYSIWYGHTMLEditor"
            extensions="html"
            icon="metadata/html.png"
            id="tk.eclipse.plugin.wysiwyg.WYSIWYGHTMLEditor"
            name="%editor.name">
      </editor>
   </extension>
   
   <extension
         point="ru.runa.gpd.formtype">
      <element
            contributor="ru.runa.gpd.formeditor.FtlFormType"
            name="%FormType.ftl"
            type="ftl"/>
      <element
            contributor="ru.runa.gpd.formeditor.HtmlFormType"
            name="%FormType.html"
            type="html"/>
   </extension>
   <extension
         point="ru.runa.gpd.form.ftl.tags">
      <tag
            enabled="true"
            height="40"
            id="InputVariable"
            image="metadata/icons/InputVariable.png"
            name="%Method.InputVariable"
            width="250">
         <param
               name="%Param.Variable"
               type="combo"
               variableTypeFilter="java.lang.Object"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="DisplayVariable"
            image="metadata/icons/VariableValueDisplay.png"
            name="%Method.DisplayVariable"
            width="250">
         <param
               name="%Param.Variable"
               type="combo"
               variableTypeFilter="java.lang.Object"
               variableAccess="READ">
         </param>
         <param
               multiple="false"
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Variable.Output"
                  value="false">
            </paramValue>
            <paramValue
                  name="%Format.Variable.Component"
                  value="true">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="ChooseActor"
            image="metadata/icons/ChooseActor.png"
            name="%Method.ChooseActor"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Executor"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.ListAll"
                  value="all">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            id="ChooseGroup"
            name="%Method.ChooseGroup">
         <param
               name="%Param.GroupVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Group"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.SelectNameInList"
                  value="selectName">
            </paramValue>
            <paramValue
                  name="%Presentation.SelectIdInList"
                  value="selectId">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="InputDateTime"
            image="metadata/icons/InputDateTime.png"
            name="%Method.InputDateTime"
            width="180">
         <param
               name="%Param.DateVariable"
               type="combo"
               variableTypeFilter="java.util.Date"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Date.AsDate"
                  value="date">
            </paramValue>
            <paramValue
                  name="%Format.Date.AsDatetime"
                  value="datetime">
            </paramValue>
            <paramValue
                  name="%Format.Date.AsTime"
                  value="time">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="GroupMembers"
            image="metadata/icons/ChooseActor.png"
            name="%Method.GroupMembers"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Actor"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.GroupVariable"
               type="richcombo"
               variableTypeFilter="ru.runa.wfe.user.Group"
               variableAccess="READ">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.ListAll"
                  value="all">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="DisplayActor"
            image="metadata/icons/DisplayFullActorName.png"
            name="%Method.DisplayActor"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Actor"
               variableAccess="READ">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Actor.Fullname"
                  value="fullname">
            </paramValue>
            <paramValue
                  name="%Format.Actor.Shortname"
                  value="shortname">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="ViewFile"
            image="metadata/icons/VariableValueDisplay.png"
            name="%Method.ViewFile"
            width="250">
         <param
               name="%Param.FileVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.var.FileVariable"
               variableAccess="READ">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.File.Content"
                  value="content">
            </paramValue>
            <paramValue
                  name="%Format.File.Length"
                  value="contentlength">
            </paramValue>
            <paramValue
                  name="%Format.File.Type"
                  value="contenttype">
            </paramValue>
            <paramValue
                  name="%Format.File.DrawImage"
                  value="drawimage">
            </paramValue>
            <paramValue
                  name="%Presentation.ObjectRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="false"
            height="40"
            id="DownloadFile"
            image="metadata/icons/VariableValueDisplay.png"
            name="%Method.DownloadFile"
            width="250">
         <param
               name="%Param.FileVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.var.FileVariable"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="DisplayExecutor"
            name="%Method.DisplayExecutor">
         <param
               name="%Param.GroupVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Group"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            height="45"
            id="AjaxGroupMembers"
            image="metadata/icons/AjaxGroupMembers.gif"
            name="%Method.AjaxGroupMembers"
            width="680">
         <param
               name="%Param.GroupVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Group"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.ActorVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Actor"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="ChooseActorByRelation"
            image="metadata/icons/ChooseActor.png"
            name="%Method.ChooseActorByRelation"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Actor"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.RelationName"
               type="richcombo"
               variableTypeFilter="java.lang.String"
               variableAccess="READ">
         </param>
         <param
               name="%Param.RelationParameter"
               type="richcombo"
               variableTypeFilter="ru.runa.wfe.user.Executor"
               variableAccess="READ">
         </param>
         <param
               multiple="false"
               name="%Param.RelationInversed"
               type="combo"
               variableTypeFilter="java.lang.Boolean"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.No"
                  value="false">
            </paramValue>
            <paramValue
                  name="%Param.Value.Yes"
                  value="true">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="ChooseExecutorByRelation"
            name="%Method.ChooseExecutorByRelation"
            width="250">
         <param
               name="%Param.Variable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Executor"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.RelationName"
               type="richcombo"
               variableTypeFilter="java.lang.String"
               variableAccess="READ">
         </param>
         <param
               name="%Param.RelationParameter"
               type="richcombo"
               variableTypeFilter="ru.runa.wfe.user.Executor"
               variableAccess="READ">
         </param>
         <param
               multiple="false"
               name="%Param.RelationInversed"
               type="combo"
               variableTypeFilter="java.lang.Boolean"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.No"
                  value="false">
            </paramValue>
            <paramValue
                  name="%Param.Value.Yes"
                  value="true">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            height="40"
            id="ChooseExecutorFromRelation"
            name="%Method.ChooseExecutorFromRelation"
            width="250">
         <param
               name="%Param.Variable"
               type="combo"
               variableTypeFilter="ru.runa.wfe.user.Executor"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.RelationName"
               type="richcombo"
               variableTypeFilter="java.lang.String"
               variableAccess="READ">
         </param>
         <param
               multiple="false"
               name="%Param.RelationInversed"
               type="combo"
               variableTypeFilter="java.lang.Boolean"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.No"
                  value="false">
            </paramValue>
            <paramValue
                  name="%Param.Value.Yes"
                  value="true">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            id="MultipleSelect"
            name="%Method.MultipleSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputData"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="EditStringList"
            name="%Method.EditStringList">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            enabled="false"
            id="ViewList"
            name="%Method.ViewList">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="READ">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.UL"
                  value="ul">
            </paramValue>
            <paramValue
                  name="%Param.Value.OL"
                  value="ol">
            </paramValue>
            <paramValue
                  name="%Param.Value.Raw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            enabled="true"
            id="EditLinkedLists"
            image="metadata/icons/EditLinkedLists.png"
            name="%Method.EditLinkedLists"
            width="450">
         <param
               multiple="false"
               name="%Param.ListAddition"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="false"
                  value="false">
            </paramValue>
            <paramValue
                  name="true"
                  value="true">
            </paramValue>
         </param>
         <param
               multiple="false"
               name="%Param.ListChange"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="false"
                  value="false">
            </paramValue>
            <paramValue
                  name="true"
                  value="true">
            </paramValue>
         </param>
         <param
               multiple="false"
               name="%Param.ListRemoval"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="false"
                  value="false">
            </paramValue>
            <paramValue
                  name="true"
                  value="true">
            </paramValue>
         </param>
         <param
               multiple="true"
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            enabled="true"
            id="DisplayLinkedLists"
            image="metadata/icons/DisplayLinkedLists.png"
            name="%Method.DisplayLinkedLists"
            width="450">
         <param
               multiple="true"
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="DisplayLinkedListsInTable"
            name="%Method.DisplayLinkedLists">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="DisplayLinkedMaps"
            name="%Method.DisplayLinkedMaps">
         <param
               multiple="true"
               name="%Param.MapVariable"
               type="combo"
               variableTypeFilter="java.util.Map"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="DisplayLinkedMapsInTable"
            name="%Method.DisplayLinkedMaps">
         <param
               name="%Param.MapVariable"
               type="combo"
               variableTypeFilter="java.util.Map"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="DisplayFormattedText"
            name="%Method.DisplayFormattedText">
         <param
               name="%Param.String"
               type="combo"
               variableTypeFilter="java.lang.String"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="ActorsMultiSelect"
            name="%Method.ActorsMultiSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
         </param>
         <param
               name="%Param.GroupVariable"
               type="richcombo"
               variableTypeFilter="ru.runa.wfe.user.Group"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="false"
            id="LegacyActorsMultiSelect"
            name="%Method.ActorsMultiSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
         </param>
         <param
               name="%Param.OutputFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.code"
                  value="code">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
            <paramValue
                  name="%Param.Value.email"
                  value="email">
            </paramValue>
         </param>
         <param
               name="%Param.GroupVariable"
               type="richcombo"
               variableTypeFilter="java.lang.String"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="DisplayListElement"
            name="%Method.DisplayListElement">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.List"
               variableAccess="READ">
         </param>
         <param
               name="%Param.ListIndex"
               type="richcombo"
               variableTypeFilter="java.lang.Long"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            enabled="true"
            id="DisplayMapElement"
            name="%Method.DisplayMapElement">
         <param
               name="%Param.ListVariable"
               type="combo"
               variableTypeFilter="java.util.Map"
               variableAccess="READ">
         </param>
         <param
               name="%Param.MapKey"
               type="richcombo"
               variableTypeFilter="java.lang.Object"
               variableAccess="READ">
         </param>
      </tag>
   </extension>
   <extension point="ru.runa.gpd.form.ftl.parameter_type">
      <type
            class="ru.runa.gpd.formeditor.ftl.bean.StringParameter"
            id="string">
      </type>
      <type
            class="ru.runa.gpd.formeditor.ftl.bean.ComboBoxParameter"
            id="combo">
      </type>
      <type
            class="ru.runa.gpd.formeditor.ftl.bean.VariableParameter"
            id="varcombo">
      </type>
   </extension>
</plugin>
