.field-hint {
	position: absolute;
	width: 180px;
	z-index: 50;
	background-image: url('/wfe/tooltip/topborder.gif');
	background-repeat: no-repeat;
	background-position: left top;	
	padding: 14px 0 0 0;
	margin:  2px 0 0 10px;
	color: #666666;
}
.field-hint div {
	background-color: #ffffff;
	border-left: 1px solid #990000;
	border-right: 1px solid #990000;
	border-bottom: 1px solid #990000;
	padding: 4px
}
