<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="tk.eclipse.plugin.wysiwyg"
   name="HTML Editor Plug-In"
   version="3.0.1"
   provider-name="Runa"
   class="tk.eclipse.plugin.wysiwyg.WYSIWYGPlugin">
   <runtime>
      <library name="wysiwyg.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
      <library name="lib/javax.servlet.jar">
         <export name="*"/>
      </library>
      <library name="lib/org.mortbay.jetty.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-fileupload.jar">
         <export name="*"/>
      </library>
      <library name="lib/freemarker.jar">
         <export name="*"/>
      </library>
      <library name="lib/nekohtml.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-lang-2.5.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
      <import plugin="tk.eclipse.plugin.htmleditor"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="ru.runa.bpm.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>
   <extension-point id="ftl_tags" name="Freemarker methods" schema="metadata/ftl_tags.exsd"/>
   <extension-point id="ftl_formats" name="Freemarker output formats for variables" schema="metadata/ftl_formats.exsd"/>
   <extension-point id="var_tags" name="VarTags definitions" schema="metadata/var_tags.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tk.eclipse.plugin.wysiwyg.WYSIWYGHTMLEditor"
            contributorClass="ru.runa.bpm.ui.editor.EditorActionsContributor"
            extensions="html"
            icon="metadata/html.png"
            id="tk.eclipse.plugin.wysiwyg.WYSIWYGHTMLEditor"
            name="WYSIWYG HTML Editor">
      </editor>
   </extension>

   
   <extension
         point="ru.runa.bpm.ui.formtype">
      <element
            contributor="tk.eclipse.plugin.forms.HtmlFormType"
            name="%FormType.html"
            type="html"/>
      <element
            contributor="tk.eclipse.plugin.forms.FtlFormType"
            name="%FormType.ftl"
            type="ftl"/>
   </extension>
   <extension
         point="tk.eclipse.plugin.wysiwyg.ftl_tags">
      <tag
            height="40"
            id="ChooseActor"
            image="metadata/ftl_icons/ChooseActor.png"
            name="%Method.ChooseActor"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.ListAll"
                  value="all">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            id="ChooseGroup"
            name="%Method.ChooseGroup">
         <param
               name="%Param.GroupVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.SelectNameInList"
                  value="selectName">
            </paramValue>
            <paramValue
                  name="%Presentation.SelectIdInList"
                  value="selectId">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            height="40"
            id="InputDateTime"
            image="metadata/ftl_icons/InputDateTime.png"
            name="%Method.InputDateTime"
            width="180">
         <param
               name="%Param.DateVariable"
               type="combo"
               values="date"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Date.AsDate"
                  value="date">
            </paramValue>
            <paramValue
                  name="%Format.Date.AsDatetime"
                  value="datetime">
            </paramValue>
            <paramValue
                  name="%Format.Date.AsTime"
                  value="time">
            </paramValue>
         </param>
      </tag>
      <tag
            height="40"
            id="GroupMembers"
            image="metadata/ftl_icons/ChooseActor.png"
            name="%Method.GroupMembers"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.GroupVariable"
               type="richcombo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Presentation.ListAll"
                  value="all">
            </paramValue>
            <paramValue
                  name="%Presentation.ListRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            height="40"
            id="DisplayActor"
            image="metadata/ftl_icons/DisplayFullActorName.png"
            name="%Method.DisplayActor"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.Actor.Fullname"
                  value="fullname">
            </paramValue>
            <paramValue
                  name="%Format.Actor.Shortname"
                  value="shortname">
            </paramValue>
         </param>
      </tag>
      <tag
            height="40"
            id="ViewFile"
            image="metadata/ftl_icons/VariableValueDisplay.png"
            name="%Method.ViewFile"
            width="250">
         <param
               name="%Param.FileVariable"
               type="combo"
               values="file"
               variableAccess="READ">
         </param>
         <param
               name="%Param.DisplayFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Format.File.Content"
                  value="content">
            </paramValue>
            <paramValue
                  name="%Format.File.Length"
                  value="contentlength">
            </paramValue>
            <paramValue
                  name="%Format.File.Type"
                  value="contenttype">
            </paramValue>
            <paramValue
                  name="%Format.File.DrawImage"
                  value="drawimage">
            </paramValue>
            <paramValue
                  name="%Presentation.ObjectRaw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            height="40"
            id="DownloadFile"
            image="metadata/ftl_icons/VariableValueDisplay.png"
            name="%Method.DownloadFile"
            width="250">
         <param
               name="%Param.FileVariable"
               type="combo"
               values="file"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="DisplayExecutor"
            name="%Method.DisplayExecutor">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            height="45"
            id="AjaxGroupMembers"
            image="metadata/ftl_icons/AjaxGroupMembers.gif"
            name="%Method.AjaxGroupMembers"
            width="680">
         <param
               name="%Param.GroupVariable"
               type="combo"
               values="long"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            height="40"
            id="RelationResult"
            image="metadata/ftl_icons/ChooseActor.png"
            name="%Method.RelationResult"
            width="250">
         <param
               name="%Param.ActorVariable"
               type="combo"
               values="string"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.RelationName"
               type="richcombo"
               values="string"
               variableAccess="READ">
         </param>
         <param
               name="%Param.RelationParameter"
               type="varcombo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="MultipleSelect"
            name="%Method.MultipleSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputData"
               type="combo"
               values="list"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="ViewList"
            name="%Method.ViewList">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="READ">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.UL"
                  value="ul">
            </paramValue>
            <paramValue
                  name="%Param.Value.OL"
                  value="ol">
            </paramValue>
            <paramValue
                  name="%Param.Value.Raw"
                  value="raw">
            </paramValue>
         </param>
      </tag>
      <tag
            id="EditStringList"
            name="%Method.EditStringList">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="WRITE">
         </param>
      </tag>
      <tag
            id="DisplayLinkedListsInTable"
            name="%Method.DisplayLinkedListsInTable">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="DisplayFormattedText"
            name="%Method.DisplayFormattedText">
         <param
               name="%Param.String"
               type="combo"
               values="string"
               variableAccess="READ">
         </param>
      </tag>
      <tag
            id="ActorsMultiSelect"
            name="%Method.ActorsMultiSelect">
         <param
               name="%Param.ListVariable"
               type="combo"
               values="list"
               variableAccess="WRITE">
         </param>
         <param
               name="%Param.InputPresentation"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
         </param>
         <param
               name="%Param.OutputFormat"
               type="combo"
               variableAccess="NONE">
            <paramValue
                  name="%Param.Value.fio"
                  value="fio">
            </paramValue>
            <paramValue
                  name="%Param.Value.code"
                  value="code">
            </paramValue>
            <paramValue
                  name="%Param.Value.login"
                  value="login">
            </paramValue>
            <paramValue
                  name="%Param.Value.email"
                  value="email">
            </paramValue>
         </param>
      </tag>
   </extension>
   <extension
         point="tk.eclipse.plugin.wysiwyg.ftl_formats">
      <type
            name="string">
         <format
               name="%Format.String.Singleline"
               value="-">
         </format>
         <format
               name="%Format.String.Multiline"
               value="multiline">
         </format>
      </type>
      <type
            name="double">
         <format
               name="%Format.Default"
               value="-">
         </format>
         <format
               name="%Format.Double.Float"
               value="floating">
         </format>
         <format
               name="%Format.Double.Exp"
               value="exponent">
         </format>
      </type>
      <type
            name="boolean">
         <format
               name="%Format.Boolean.tf"
               value="string">
         </format>
         <format
               name="%Format.Boolean.zo"
               value="zo">
         </format>
         <format
               name="%Format.Boolean.pm"
               value="pm">
         </format>
      </type>
      <type
            name="date">
         <format
               name="%Format.Date.AsDate"
               value="date">
         </format>
         <format
               name="%Format.Date.AsDatetime"
               value="datetime">
         </format>
         <format
               name="%Format.Date.AsTime"
               value="time">
         </format>
      </type>
      <type
            name="long">
         <format
               name="%Format.Default"
               value="-">
         </format>
      </type>
      <type
            name="time">
         <format
               name="%Format.Default"
               value="time">
         </format>
      </type>
      <type
            name="file">
         <format
               name="%Format.Default"
               value="-">
         </format>
      </type>
   </extension>
   <extension
         point="tk.eclipse.plugin.wysiwyg.var_tags">
      <tag
            className="ru.runa.wf.web.html.vartag.GroupMembersAutoCompletionVarTag"
            height="60"
            image="metadata/var_icons/ChooseActorAutoComplete.png"
            input="true"
            name="%ru.runa.wf.web.html.vartag.GroupMembersAutoCompletionVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.DemoSubordinateAutoCompletingComboboxVarTag"
            input="true"
            name="%ru.runa.wf.web.html.vartag.DemoSubordinateAutoCompletingComboboxVarTag">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.ActorComboboxVarTag"
            height="40"
            image="metadata/var_icons/ChooseActor.png"
            input="true"
            name="%ru.runa.wf.web.html.vartag.ActorComboboxVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.GroupMembersComboboxVarTag"
            input="true"
            name="%ru.runa.wf.web.html.vartag.GroupMembersComboboxVarTag">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.ActorFullNameDisplayVarTag"
            height="40"
            image="metadata/var_icons/DisplayFullActorName.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.ActorFullNameDisplayVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.ActorNameDisplayVarTag"
            height="40"
            image="metadata/var_icons/DisplayActorName.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.ActorNameDisplayVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.DateInputVarTag"
            height="40"
            image="metadata/var_icons/InputDate.png"
            input="true"
            name="%ru.runa.wf.web.html.vartag.DateInputVarTag"
            width="180">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.DateTimeInputVarTag"
            height="40"
            image="metadata/var_icons/InputDateTime.png"
            input="true"
            name="%ru.runa.wf.web.html.vartag.DateTimeInputVarTag"
            width="180">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.DateTimeValueDisplayVarTag"
            height="40"
            image="metadata/var_icons/DateTimeValueDisplay.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.DateTimeValueDisplayVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.DateValueDisplayVarTag"
            height="40"
            image="metadata/var_icons/DateValueDisplay.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.DateValueDisplayVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.FileVariableValueDownloadVarTag"
            height="40"
            image="metadata/var_icons/DownloadFile.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.FileVariableValueDownloadVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.HiddenDateTimeInputVarTag"
            input="true"
            name="%ru.runa.wf.web.html.vartag.HiddenDateTimeInputVarTag">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.TimeValueDisplayVarTag"
            height="40"
            image="metadata/var_icons/TimeValueDisplay.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.TimeValueDisplayVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.VariableValueDisplayVarTag"
            height="40"
            image="metadata/var_icons/VariableValueDisplay.png"
            input="false"
            name="%ru.runa.wf.web.html.vartag.VariableValueDisplayVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.TimeInputVarTag"
            height="40"
            image="metadata/var_icons/TimeInputDisplay.png"
            input="true"
            name="%ru.runa.wf.web.html.vartag.TimeInputVarTag"
            width="250">
      </tag>
      <tag
            className="ru.runa.wf.web.html.vartag.TimeWithSecondsInputVarTag"
            height="40"
            image="metadata/var_icons/TimeWithSecondsInputDisplay.png"
            input="true"
            name="%ru.runa.wf.web.html.vartag.TimeWithSecondsInputVarTag"
            width="250">
      </tag>
   </extension>
</plugin>
