[Desktop Entry]
Exec=sh /usr/sbin/runagpd-start.sh
Icon=/usr/share/pixmaps/RunaWFE-GPD.gif
Name=Graphic process designer for RunaWFE
Name[ru]=Графический редактор процессов для RunaWFE
Path=/usr/lib/RunaGPD
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
ReplaceableCategories
