<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ru.runa.bpm.ui.delegablePropertyDescriprors">
      <delegable
            cellEditorProvider="ru.runa.office.excel.ReadHandlerCellEditorProvider"
            className="ru.runa.wf.office.excel.handlers.ReadHandler"
            name="%ActionHandler.ReadHandler"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.office.excel.SaveHandlerCellEditorProvider"
            className="ru.runa.wf.office.excel.handlers.SaveHandler"
            name="%ActionHandler.SaveHandler"
            type="actionHandler">
      </delegable>
      <delegable
            cellEditorProvider="ru.runa.office.word.DocxHandlerCellEditorProvider"
            className="ru.runa.wf.office.doc.DocxHandler"
            name="%ActionHandler.DocxHandler"
            type="actionHandler">
      </delegable>
   </extension>

</plugin>
