<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
    <UI>
      <Dialog Id="RunaWFEIPDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="BotstationDescription" Type="Text" X="45" Y="73" Width="260" Height="85" TabSkip="no" Text="$(loc.RunaWFE_Server_BotstationAddressDescription)" Hidden="yes">
		<Condition Action="show">isBotstation = "true"</Condition>
	</Control>
        <Control Id="ServerDescription" Type="Text" X="45" Y="73" Width="260" Height="85" TabSkip="no" Text="$(loc.RunaWFE_Server_ServerAddressDescription)" Hidden="yes">
		<Condition Action="show">isBotstation = "false"</Condition>
	</Control>
        <Control Id="BotstationLabel" Type="Text" X="45" Y="123" Width="260" Height="15" TabSkip="no" Text="$(loc.RunaWFE_IPAdressPrompt)" Hidden="yes">
		<Condition Action="show">isBotstation = "true"</Condition>
	</Control>
        <Control Id="BotstationEdit" Type="Edit" X="45" Y="135" Width="130" Height="16" Property="MAIN_WFE_SERVER_IP" Hidden="yes">
		<Condition Action="show">isBotstation = "true"</Condition>
	</Control>
        <Control Id="ServerPortLabel" Type="Text" X="45" Y="123" Width="260" Height="15" TabSkip="no" Text="$(loc.RunaWFE_ServerPort)" Hidden="yes">
		<Condition Action="show">isBotstation = "false"</Condition>
	</Control>                       
        <Control Id="ServerPortEdit" Type="Edit" X="45" Y="135" Width="50" Height="16" Property="MAIN_WFE_SERVER_PORT" Integer="yes" Hidden="yes">
		<Condition Action="show">isBotstation = "false"</Condition>
	</Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="SetupTypeDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
          <Publish Event="NewDialog" Value="[WixUI_UserRegistrationDlgNext]">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter additional information</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Additional Information</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
    <Property Id="MAIN_WFE_SERVER_PORT" Value="8080"/>
  </Fragment>
</Wix>