<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product Name='$(loc.RunaWFE_ProductName)' Id='F61A26B0-81C7-4E2C-8DEC-D853FEB4C021'
    Language="$(loc.RunaWFE_InstallerLang)" Version='1.0.0' Manufacturer='Runa' Codepage="__CODEPAGE__">

    <Package Id='????????-????-????-????-????????????' Keywords='Installer'
      Description="$(loc.RunaWFE_ClientPackageDescription)"
      Manufacturer='Runa'
      InstallerVersion='100' Languages="$(loc.RunaWFE_InstallerLang)" Compressed='yes' SummaryCodepage="__CODEPAGE__"/>

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />
    <!--Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" / DiskPrompt="CD-ROM #1" -->

    <Directory Id='ProgramFilesFolder' Name='PFiles'>
      <Directory Id='TARGETDIR' Name='RunaWFE'>
        <Directory Id="wfe_simulator_main_dir" Name="wfe-simu" LongName="wfe-simulator">
          <Directory Id="wfe_simulator_bin_dir" Name="bin">
            <Component Id="simulatorBotStartBatComponent" DiskId="1" Guid="79EA296E-1767-454B-8659-B3764E57107E">
              <File Id="fileSimulatorBotStartBat" LongName="runbot.bat" Name="runbot.bat" Source="Server/runbot.bat"/>
            </Component>
          </Directory>
        </Directory>
        <Component Id="mainWFEIcoComponent" DiskId="1" Guid="74B25A7F-3DE3-4F0C-9035-9EEC38489FA4">
          <File Id="fileMainWFEIco_Doc" LongName="D_20x20_256.ico" Name="D_20x20.ico" Source="Icons/D_20x20_256.ico"/>
          <File Id="fileMainWFEIco_Sim" LongName="Cs_20x20_256.ico" Name="Cs_20x20.ico" Source="Icons/Cs_20x20_256.ico"/>
          <File Id="fileMainWFEIco_Client" LongName="C_20x20_256.ico" Name="C_20x20.ico" Source="Icons/C_20x20_256.ico"/>
        </Component>
        <Directory Id='DOCUMENTATION_ROOT' LongName='Documentation' Name='Document'/>
      </Directory>
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
      <Directory Id="ProgramMenuDir" Name='RunaWFE'>
        <Component Id="WFEMainServerInterface" DiskId="1" Guid="64ABB6A2-A64E-468A-AB32-92B2BD31073D">
          <File Id="fieMainServerInterface" LongName="$(loc.RunaWFE_Client_MenuMainServerWebLinkName).url" Name="mainServ.url" Source="Links\mainserver.url"/>
        </Component>
        <Component Id="DocumentationLinks" DiskId="1" Guid="057E0EE5-2AF8-425F-BB93-35B970BF5513">
          <File Id="DocLinkFile" LongName="$(loc.RunaWFE_Client_MenuDocumentationLinkName).url" Name="document.url" Source="Links\documentation.url"/>
        </Component>
        <Component Id="UninstallComponent" DiskId="1" Guid="A3193CC4-26A9-470B-8D70-008E73C9AA83">
          <Shortcut Id="UninstallProduct" LongName="$(loc.RunaWFE_UninstallShortcutName)" Name="Uninstal" Target="[System64Folder]msiexec.exe" Arguments="/x {F61A26B0-81C7-4E2C-8DEC-D853FEB4C021}" Directory="ProgramMenuDir" Description="$(loc.RunaWFE_UninstallShortcutDescription)" /> 
        </Component>
        <Component Id="SimulationWebComponent" DiskId="1" Guid="182EBAC2-DE28-47CF-A1E0-A91E0A5F8DAA">
          <File Id="SimulationWebLinkFile" LongName="$(loc.RunaWFE_Client_MenuSimulationWebLinkName).url" Name="simwebin" Source="Links\simulation.url" />
        </Component>
        <Directory Id="StartupFolder" Name="SUFLD"/>
      </Directory>
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />

    <Feature Id='CompletteRunaWFE' Title='$(loc.RunaWFE_ProductName)' Description='$(loc.RunaWFE_ClientPackageDescription)'
      Display='expand' Level='1' ConfigurableDirectory='TARGETDIR' AllowAdvertise='no' >

      <Feature Id='MainServerInterfaceFeature' Title='$(loc.RunaWFE_Client_ComponentMainWFEWebLinkName)' Description='$(loc.RunaWFE_Client_ComponentMainWFEWebLinkDescription)' Level='1' AllowAdvertise='no'>
        <ComponentRef Id="WFEMainServerInterface"/>
        <ComponentRef Id="mainWFEIcoComponent"/>
        <ComponentRef Id="UninstallComponent"/>
      </Feature>

      <Feature Id='RTNFeature' Title='$(loc.RunaWFE_Client_ComponentRTNName)' Description='$(loc.RunaWFE_Client_ComponentRTNDescription)' Level='1000' AllowAdvertise='no'>
        <ComponentGroupRef Id="RTN_ComponentsGroup"/>
        <ComponentRef Id="mainWFEIcoComponent"/>
        <ComponentRef Id="UninstallComponent"/>
      </Feature>

      <Feature Id='GPDFuture' Title='$(loc.RunaWFE_Client_ComponentGPDName)' Description='$(loc.RunaWFE_Client_ComponentGPDDescription)' Level='1000' AllowAdvertise='no' InstallDefault='source'>
        <ComponentGroupRef Id="GPD_ComponentsGroup"/>
        <ComponentRef Id="mainWFEIcoComponent"/>
        <ComponentRef Id="UninstallComponent"/>
      </Feature>

      <Feature Id='SimulatorFuture' Title='$(loc.RunaWFE_Client_ComponentSimulatorName)' Description='$(loc.RunaWFE_Client_ComponentSimulatorDescription)' Level='1000' AllowAdvertise='no' InstallDefault='source'>
        <ComponentGroupRef Id="JBOSS_ComponentsGroup"/>
        <ComponentRef Id="mainWFEIcoComponent"/>
        <ComponentRef Id="UninstallComponent"/>
        <ComponentRef Id="simulatorBotStartBatComponent"/>
        <ComponentRef Id="SimulationWebComponent"/>
      </Feature>

      <Feature Id='DocumentationFeature' Title='$(loc.RunaWFE_Client_ComponentDocumentationName)' Description='$(loc.RunaWFE_Client_ComponentDocumentationDescription)' Level='1000' AllowAdvertise='no'>
        <ComponentRef Id="DocumentationLinks"/>
        <ComponentGroupRef Id="DOC_ComponentsGroup"/>
        <ComponentRef Id="mainWFEIcoComponent"/>
        <ComponentRef Id="UninstallComponent"/>
      </Feature>
    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Icon Id="RunaWFE_GPD.ico" SourceFile="Icons/e_20x20_256.ico" />
    <Icon Id="RunaWFE_Simulator.ico" SourceFile="Icons/Si_20x20_256.ico" />
    <Icon Id="RunaWFE_RTN.ico" SourceFile="Icons/t_20x20_256.ico" />
    <Icon Id="RunaWFE_Client.ico" SourceFile="Icons/C_20x20_256.ico" />
    <Icon Id="RunaWFE_SimClient.ico" SourceFile="Icons/cs_20x20_256.ico" />

    <InstallExecuteSequence>
       <Custom Action="RTNTuning" After='InstallFinalize'><![CDATA[&RTNFeature=3 AND $WixUI_InstallMode<>"Remove"]]></Custom>
       <Custom Action="MainInterfaceTuning" After='InstallFinalize'><![CDATA[&MainServerInterfaceFeature=3 AND $WixUI_InstallMode<>"Remove"]]></Custom>
       <Custom Action="DocumentationTuning" After='InstallFinalize'><![CDATA[&DocumentationFeature=3 AND $WixUI_InstallMode<>"Remove"]]></Custom>
       <Custom Action="SimulatorWebLinkTuning" After='InstallFinalize'><![CDATA[&DocumentationFeature=3 AND $WixUI_InstallMode<>"Remove"]]></Custom>
    </InstallExecuteSequence>

    <Binary Id='runaScripts.vbs' src='Client/runaScripts.vbs'/>
    <CustomAction Id='RTNTuning' BinaryKey='runaScripts.vbs' VBScriptCall='RTNTune'/>
    <CustomAction Id='DocumentationTuning' BinaryKey='runaScripts.vbs' VBScriptCall='DocumentationLinkTune'/>
    <CustomAction Id='MainInterfaceTuning' BinaryKey='runaScripts.vbs' VBScriptCall='MainWebLinkTune'/>
    <CustomAction Id='SimulatorWebLinkTuning' BinaryKey='runaScripts.vbs' VBScriptCall='SimulatorWebLinkTune'/>

    <Property Id="RunaWFEClientMainServerInterfaceProp" Value="$(loc.RunaWFE_Client_MenuMainServerWebLinkName).url"/>
    <Property Id="RunaWFEClientDocumentationLinkProp" Value="$(loc.RunaWFE_Client_MenuDocumentationLinkName).url"/>
    <Property Id="RunaWFEClientSimulatorWebLinkProp" Value="$(loc.RunaWFE_Client_MenuSimulationWebLinkName).url"/>
    <Property Id="ALLUSERS"><![CDATA[2]]></Property>
  </Product>
</Wix>
