<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- properties -->
		<!-- 
		<property name="hibernate.connection.datasource">java:/mssqlds</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<property name="hibernate.connection.datasource">java:/runawfe-ds</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		
		<property name="hibernate.connection.datasource">java:/OracleDS</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<property name="hibernate.connection.datasource">java:/postgre-ds</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="hibernate.connection.datasource">java:/mysql-ds</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	    
		<property name="hibernate.connection.datasource">java:jboss/datasources/ExampleDS</property>
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
	     -->
	    
		<property name="hibernate.connection.datasource">java:/runawfe-ds</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		
		<property name="hibernate.use_outer_join">false</property>
		<property name="hibernate.cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<!-- property name="hibernate.transaction.factory_class">
			org.hibernate.transaction.JTATransactionFactory
		</property -->

		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.jdbc.fetch_size">20</property>
		<property name="hibernate.cache.use_query_cache">true</property>

		<!-- mapping classes -->
		<mapping class="ru.runa.wfe.audit.SystemLog" />
		<mapping class="ru.runa.wfe.audit.ProcessDeleteLog" />
		<mapping class="ru.runa.wfe.audit.ProcessDefinitionDeleteLog" />
		<mapping class="ru.runa.wfe.audit.ProcessDefinitionDeleteExceptionLog" />
	    <mapping class="ru.runa.wfe.audit.ProcessLog" />
	    <mapping class="ru.runa.wfe.audit.ProcessStartLog" />
	    <mapping class="ru.runa.wfe.audit.ProcessCancelLog" />
	    <mapping class="ru.runa.wfe.audit.ProcessEndLog" />
	    <mapping class="ru.runa.wfe.audit.ActionLog" />
	    <mapping class="ru.runa.wfe.audit.NodeEnterLog" />
	    <mapping class="ru.runa.wfe.audit.NodeLeaveLog" />
	    <mapping class="ru.runa.wfe.audit.SubprocessStartLog" />
	    <mapping class="ru.runa.wfe.audit.SubprocessEndLog" />
	    <mapping class="ru.runa.wfe.audit.TransitionLog" />
        <mapping class="ru.runa.wfe.audit.SendMessageLog" />
        <mapping class="ru.runa.wfe.audit.ReceiveMessageLog" />
	    <mapping class="ru.runa.wfe.audit.VariableLog" />
	    <mapping class="ru.runa.wfe.audit.VariableCreateLog" />
	    <mapping class="ru.runa.wfe.audit.VariableDeleteLog" />
	    <mapping class="ru.runa.wfe.audit.VariableUpdateLog" />
	    <mapping class="ru.runa.wfe.audit.TaskLog" />
	    <mapping class="ru.runa.wfe.audit.TaskCreateLog" />
	    <mapping class="ru.runa.wfe.audit.TaskAssignLog" />
	    <mapping class="ru.runa.wfe.audit.TaskEscalationLog" />
	    <mapping class="ru.runa.wfe.audit.TaskEndLog" />
	    <mapping class="ru.runa.wfe.audit.SwimlaneAssignLog" />
		<mapping class="ru.runa.wfe.bot.Bot" />
		<mapping class="ru.runa.wfe.bot.BotStation" />
		<mapping class="ru.runa.wfe.bot.BotTask" />
		<mapping class="ru.runa.wfe.commons.dao.Constant" />
		<mapping class="ru.runa.wfe.commons.dao.Localization" />
		<mapping class="ru.runa.wfe.definition.Deployment" />
		<mapping class="ru.runa.wfe.execution.Process" />
		<mapping class="ru.runa.wfe.execution.Token" />
		<mapping class="ru.runa.wfe.execution.NodeProcess" />
	    <mapping class="ru.runa.wfe.execution.Swimlane" />
	    <mapping class="ru.runa.wfe.job.Job" />
	    <mapping class="ru.runa.wfe.job.Timer" />
		<mapping class="ru.runa.wfe.presentation.BatchPresentation" />
		<mapping class="ru.runa.wfe.relation.Relation" />
		<mapping class="ru.runa.wfe.relation.RelationPair" />
		<mapping class="ru.runa.wfe.security.dao.PermissionMapping" />
		<mapping class="ru.runa.wfe.security.dao.PrivelegedMapping" />
		<mapping class="ru.runa.wfe.ss.Substitution" />
		<mapping class="ru.runa.wfe.ss.SubstitutionCriteria" />
		<mapping class="ru.runa.wfe.ss.SubstitutionCriteriaSwimlane" />
		<mapping class="ru.runa.wfe.ss.SubstitutionCriteriaNotEquals" />
		<mapping class="ru.runa.wfe.ss.TerminatorSubstitution" />
	    <mapping class="ru.runa.wfe.task.Task" />
		<mapping class="ru.runa.wfe.user.Executor" />
		<mapping class="ru.runa.wfe.user.Actor" />
		<mapping class="ru.runa.wfe.user.Group" />
		<mapping class="ru.runa.wfe.user.ExecutorGroupMembership" />
		<mapping class="ru.runa.wfe.user.Profile" />
		<mapping class="ru.runa.wfe.user.TemporaryGroup" />
		<mapping class="ru.runa.wfe.user.EscalationGroup" />
		<mapping class="ru.runa.wfe.user.dao.ActorPassword" />
	    <mapping class="ru.runa.wfe.var.Variable" />
	    <mapping class="ru.runa.wfe.var.impl.ByteArrayVariable" />
	    <mapping class="ru.runa.wfe.var.impl.DateVariable" />
	    <mapping class="ru.runa.wfe.var.impl.DoubleVariable" />
	    <mapping class="ru.runa.wfe.var.impl.LongVariable" />
	    <mapping class="ru.runa.wfe.var.impl.NullVariable" />
	    <mapping class="ru.runa.wfe.var.impl.StringVariable" />
	</session-factory>

</hibernate-configuration>
